<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="16384" executionTimeout="120" />
  </system.web>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=CHETANA14\SQLEXPRESS;Initial Catalog=TripDB;Integrated Security=True"/>
    </connectionStrings>
 <!--
  <object id="player" classid="clsid:6BF52A52-394A-11D3-B153-00C04F79FAA6" height="400" width="500">
    <param name="movie" value="video.axd?id=id" />
    <param name="showcontrols" value="true" />
    <param name="autostart" value="true" />
  </object>
  -->
  
</configuration>

