*
{
    border-style: none;
    border-color: inherit;
    border-width: 0;
    padding: 0;
    outline: 0;
    margin: 0 0 0 0px;
}
body
{
   
}
#footer-termofuse
{
     background-color: Gray;
    height: 41px;
    width: auto;
    }
  
ul
{
    list-style: none;
    height: 22px;
}
li
{
    margin-top: 7px;
    float: right;
    margin-left: 40px;
    margin-right:20px;
    width: 70px;
    height: 25px;
}
li a
{
    text-decoration: none;
    color: White;
}
#Copyright-termofuse
{
    margin-left: 20px;
    color: White;
    margin-top: 7px;
    float: left;
    width: 215px;
    height: 34px;
}

#Main
{
  border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid Black;
    width: 960px;
  height: 1950px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color:skyblue;  
    background-size:100%;
}

#header
{
    width: 960px;
    height: 155px;
    background-color: Black;
}
#header #imgLogo
{
    margin-left: 40px;
    margin-top: 10px;
    float: left;
}
#header h2
{
    color: White;
    float: right;
    margin-right:20px;
    margin-top: 60px;
    height: 44px;
}
#Main-Content
{
    margin-right:10px;
    height: 1703px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 209px;
    width: 920px;
}
#text
{
    
 }

#Main-Content #imgSqurd
{
    float: right;
    margin-right:7px;
       
}

.imgSmrtPhn
{
    margin-top: 20px;
    text-align: center;
    float: left;
    padding-left: 0px;
    height: 119px;
}
.imgSmrtPhn1
{
    margin-top: 20px;
    text-align: center;
    float: left;
    padding-left: 0px;
    height: 120px;
}

#imgBvertical
{
    float: left;
       margin:20px;
          
}
#End-Contain
{
    margin-top:210px;
  /* margin-left: 3px;   */
     background-color:white; 
     
}




#End-Contain a
{
    font-size: larger;
    margin-top: 30px;
    margin-right:20px;
   
    float:right;
}
#imgHrzntl
{
       margin-left:80px;
       margin-top:10px;
       margin-bottom:10px;
}